.post_header{
    background-color: #FFFFFF;
    font-size: medium;
    font-weight: normal;
    border-bottom: none;

}

.user_ref{
    font-size: medium;
    font-weight: normal;
    color: #306BAC;
}

.project_ref {
    font-size: medium;
    font-weight: normal;
    color: #306BAC;
}

.post_hour{
    font-size: x-small;
}

.post_container {
    margin-top: 1%;
}

.comment{
    font-size: small;
}

.comment:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}