.theSide{
    margin-top: 2%;
}

.sidebar ul li{
    color: #000;
    list-style-type: none;
    font-size: large;
    margin-top: 20%;
    display: inline;
}


.sidebar ul li:hover {
    background-color: #ff0b00;
    border-radius: 90px;
}

#addPro{
    border-radius: 900px;
}